.inicio{
    width: 100%;
    display: flexbox;
    height: auto;
    font-family: var(--textContent);
}
.seccion3{
    text-align: center;
    margin-bottom: 50px;
}
h2{
    font-family: var(--textTitle);
    color: var(--colorText);
    padding-bottom: 50px;
    padding-top: 50px;
}
.seccion2 {
    height: 100px;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 100px;
}
.tituloSeccion2{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tituloSeccion2 h2{
    color: var(--colorEnfasis);
    font-size: 41px;
}
.imgIntro{
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
}
.introTxt{
    display: flex;
    width: 70%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.seccion3{
    padding-left: 80px;
    padding-right: 80px;
}
.card-text{
    padding-top: 20px;
}
.card-title{
    font-family: var(--textTitle);
    color: var(--colorEnfasis);
    padding-bottom: 20px;
    font-weight: bold;
}
.card{
    background-color: var(--colorClaro1);
    border: solid var(--colorClaro1);
}
.card-img{
    opacity: 60%;
}
.seccion4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.beneficios{
    background-color: var(--colorEnfasis);
    border-radius: 15px;
}
.beneficios-titulo{
    color: var(--colorClaro1);
    font-size: 41px;
    font-weight: normal;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.beneficios-text{
    color: var(--colorClaro1);
    font-size: 20px;
    padding-left: 20px;
}
.seccion5{
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
}
.seccion5 h4{
    font-size: 26px;
    font-family: var(--textTitle);
}
.marcas{
    list-style: none;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.seccion5 img{
    width: 70px;
}
carousel-caption p{
    font-size: 16px;
}