<section class="inicio">
    <div class="titulo">
        <section class="banner">
            <img src="/assets/banner.jpeg" alt="img-proyecto" class="imgBanner">
            <div class="parrafo-banner">
                <h1>Convierte en un pastelero profesional<br>desde la comodidad de tu casa<br><span class="slogan">Te llevamos los mejores ingredientes a la puerta de tu casa y te guiamos paso a paso para que realices los mejores postres</span></h1>
            </div>
        </section>
    </div>
    <div class="seccion2">
        <h2>Beneficios de uBaker</h2>
        <ul class="beneficios">
            <li><img src="/assets/ingredientes.jpeg"><p>Ingredientes de la más alta calidad</p></li>
            <li><img src="/assets/edades.jpeg"><p>Recetas para todos los niveles</p></li>
            <li><img src="/assets/tablaNutricional.jpeg"><p>Conoce exactamente lo que comes</p></li>
            <li><img src="/assets/divertido.jpeg"><p>La forma más divertida de cocinar</p></li>
        </ul>
    </div>
</section>
