<section class="inicio">
    <div class="titulo">
        <section class="banner">
            <div id="carouselExampleDark" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="/assets/U1.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Conviertete en un pastelero profesional</h4>
                      <p>Desde la comodidad de tu casa.</p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="/assets/U2.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Te llevamos los mejores ingredientes </h4>
                      <p>Con las proporciones adecuadas y de la más alta calidad</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/U3.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Te guiamos paso a paso</h4>
                      <p>Todos nuestros productos cuentan con tutoriales</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
    </div>
    <section class="seccion2">
        <img src="/assets/U4.png" alt="img-proyecto" class="imgIntro">
        <div class="introTxt">
            <p>Facilitamos la repostería tanto a aficionados como a profesionales, brindando insumos frescos y kits completos para crear postres deliciosos con facilidad. Ofecemos ingredientes de alta calidad y recetas detalladas para la elaboración de postres. </p>            
        </div>
    </section>
    <section class="seccion3">
        <ul class="beneficios">
            <li><img src="/assets/ingredientes.jpeg"><p>Ingredientes de la más alta calidad</p></li>
            <li><img src="/assets/edades.jpeg"><p>Recetas para todos los niveles</p></li>
            <li><img src="/assets/tablaNutricional.jpeg"><p>Conoce exactamente lo que comes</p></li>
            <li><img src="/assets/divertido.jpeg"><p>La forma más divertida de cocinar</p></li>
        </ul>
    </section>
    <section class="seccion4">
        <h4>Marcas aliadas: </h4>
        <ul class="marcas">
            <li><img src="/assets/marcas/alpina.png"></li>
            <li><img src="/assets/marcas/alqueria.png"></li>
            <li><img src="/assets/marcas/colombina.png"></li>
            <li><img src="/assets/marcas/gelhada.png"></li>
            <li><img src="/assets/marcas/hazdeoros.png"></li>
            <li><img src="/assets/marcas/jet.png"></li>
            <li><img src="/assets/marcas/manuelita.png"></li>
            <li><img src="/assets/marcas/santareyes.png"></li>
            <li><img src="/assets/marcas/tosh.png"></li>
        </ul>
    </section>
</section>
