<app-navegacion></app-navegacion>
<section class="inicio">
    <div class="titulo">
        <section class="banner">
            <div id="carouselExampleDark" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="/assets/U1.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Conviertete en un pastelero profesional</h4>
                      <p>Desde la comodidad de tu casa.</p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="/assets/U2.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Te llevamos los mejores ingredientes </h4>
                      <p>Con las proporciones adecuadas y de la más alta calidad</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/U3.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Te guiamos paso a paso</h4>
                      <p>Todos nuestros productos cuentan con tutoriales</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
    </div>
    <div class="tituloSeccion2">
      <h2>Kits para elaborar deliciosos postres</h2>
    </div>
    <section class="seccion2">
      <div class="introTxt">
        <p>Facilitamos la repostería tanto a aficionados como a profesionales, brindando insumos frescos y kits completos para crear postres deliciosos con facilidad. Ofrecemos ingredientes de alta calidad y recetas detalladas para la elaboración de postres. </p>            
      </div>
    </section>
    <section class="seccion3">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Paso 1.</h5>
              <img src="/assets/imagen1.png" class="card-img" alt="compraEnLinea">
              <p class="card-text">Elige el postre que quieras preparar de nuestro amplio catálogo.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Paso 2.</h5>
              <img src="/assets/imagen2.png" class="card-img" alt="...">
              <p class="card-text">Te enviaremos los mejores ingredientes en el menor tiempo posible.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Paso 3.</h5>
              <img src="/assets/imagen3.jpeg" class="card-img" alt="...">
              <p class="card-text">Disfruta preparando nuestros deliciosos postres con ayuda de nuestros tutoriales.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="seccion4">
      <div class="card mb-3 beneficios" style="max-width: 850px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/U4.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title beneficios-titulo">Beneficios de uBaker</h5>
              <p class="card-text beneficios-text">	&#10004; Recibe ingredientes de la más alta calidad.<br>
                &#10004; Elige de nuestro amplio catálogo de recetas para todos los niveles.<br>
                &#10004; Conoce exactamente lo que comes.<br>
                &#10004; Disfruta realizando los postres que siempre soñaste</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="seccion5">
        <h4>Marcas aliadas: </h4>
        <ul class="marcas">
            <li><img src="/assets/marcas/alpina.png"></li>
            <li><img src="/assets/marcas/alqueria.png"></li>
            <li><img src="/assets/marcas/colombina.png"></li>
            <li><img src="/assets/marcas/gelhada.png"></li>
            <li><img src="/assets/marcas/hazdeoros.png"></li>
            <li><img src="/assets/marcas/jet.png"></li>
            <li><img src="/assets/marcas/manuelita.png"></li>
            <li><img src="/assets/marcas/santareyes.png"></li>
            <li><img src="/assets/marcas/tosh.png"></li>
        </ul>
    </section>
</section>
<app-footer></app-footer> 
