.navAdmin{
    width: 25vw;
    height: 100vh;
    border: solid red;
    background-color: var(--colorClaro1);
    font-family: var(--textContent);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
    text-align: center;
}
.navAdmin div h3 {
    font-size: 26px;
    margin-bottom: 5px;
    color: var(--colorText);
    font-family: var(--textTitle);
}
.navAdmin div p {
    font-size: 14px;
    color: var(--colorEnfasis)
}
.listaMenu {
    list-style: none;
    padding: 0;
}

.listaMenu > li {
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
}

/* Estilo para los elementos principales del menú */
.listaMenu > li:hover {
    background-color: var(--colorEnfasis); /* Fondo más claro al pasar el mouse */
    padding: 10px; /* Añadir un padding para destacar el elemento */
    transition: 0.3s;
}

/* Lista desplegable dentro de cada elemento principal */
.listaMenu > li > ul {
    list-style: none;
    padding: 0;
    padding-top: 10px;
    display: none; /* Oculto por defecto */
}

/* Mostrar submenús al pasar el mouse */
.listaMenu > li:hover > ul {
    display: block;
}

.listaMenu > li > ul > li {
    margin-bottom: 10px;
    font-size: 14px;
}

/* Botón de cerrar sesión */
.navAdmin button {
    color :var(--colorEnfasis);
    font-size: 16px;
    border-radius: 5px;
    background-color:#ffffff00;
    padding: 7px 20px;
    text-align: center;
    border: solid var(--colorEnfasis);
}

.navAdmin button:hover {
    background-color: var(--colorEnfasis); 
    color: var(--colorClaro1);
    border: solid var(--colorEnfasis);
}

/* Logo */
.logo {
    text-align: center;
    margin-top: 20px;
}

.img-logo {
    width: 100px;
    height: auto;
    transition: transform 0.3s;
}

.img-logo:hover {
    transform: scale(1.1);
}