<main>
    <h2>Ingrese a su cuenta</h2>
    <div class =login>
        <div class="cajaInicio">
            <div class="divCorreo">
                <label for="correo" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="correo" name="correo" placeholder="Ingrese su correo" [(ngModel)]="correo"/>
                </div>
            <div class="divContrasena">
                <label for="contrasena" class="form-label">Contraseña</label>
                <input type="password" class="form-control" placeholder="Ingrese su contraseña" id="contrasena" name="contrasena" [(ngModel)]="contrasena"/>
            </div>        
            <div class="divBoton">
                <button type="submit" class="btn" (click)="iniciarSesion()">Ingresar</button>
            </div>
        </div>
    </div>
</main>
