main{
    height: 455px;
    width: 100%;
    padding-top: 40px;
}
h2{
    font-family: var(--textTitle);
    text-align: center;
}
.login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cajaInicio {
    margin-top: 40px;
    border: solid var(--colorText);
    border-radius: 10px;
    width: 500px;
    padding: 20px 20px 20px 20px;
    color: var(--colorEnfasis);
    font-family: var(--textContent);
    font-size: 18px;
} 
.divCorreo{
    padding-bottom: 20px;
}
.divContrasena{
    padding-bottom: 20px;
}
.divBoton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    color :var(--colorEnfasis);
    border-radius: 5px;
    background-color: #FFFF;
    padding: 7px 20px;
    text-align: center;
    border: solid var(--colorEnfasis);
}
.btn:hover {
    background-color: #e91e624f; 
    color: var(--colorEnfasis);
    border: solid var(--colorEnfasis);
}