<div class="modal fade login" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="titulo">Inicio de sesión</div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="div-img-logo"><img class="img-logo" src="./assets/UfondoBlanco.png" alt="logo"></div>
          <form [formGroup]="credentialForm" (ngSubmit)="handleSubmit()" class="mx-1 mx-md-4">
            <div class="mb-4">
              <p>Ingrese con su correo y contraseña:</p>
            </div>
            <!--CORREO-->
            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
              <div data-mdb-input-init class="form-outline flex-fill mb-0 form-group">
                <input type="email" name="correo" id="form3Example3c" class="form-control" placeholder="Ej.: ejemplo@mail.com" formControlName="email" required/>
                <div *ngIf="!credentialForm.value.email && submited" class="alert alert-danger">
                  El correo es requerido.
                </div>
              </div>
            </div>
            <!--CONTRASEÑA-->
            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
              <div data-mdb-input-init class="form-outline flex-fill mb-0 form-group">
                <input type="password" name="contrasena" id="form3Example4c" class="form-control"  placeholder="Ingrese su contraseña" formControlName="password" required/>
                <div *ngIf="!credentialForm.value.password && submited" class="alert alert-danger">
                  La contraseña es requerida.
                </div>
              </div>
            </div>
            <!--Boton de enviar-->
            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
              <button type="submit" class="btn">Ingresar</button>
            </div>
          </form>
          <div class="text-center">
            <p>¿No tiene una cuenta? <a href="javascript:void(0);" (click)="toggleRegister()"data-bs-dismiss="modal">Registrarme</a></p>
          </div>
        </div>
      </div>
    </div>
</div>

<app-register></app-register>