<main class="pagPrincipal">
    <h2 class="tituloProd">Postres y recetas</h2>
    <p class="tituloDesc">Conoce nuestros productos, recetas y postres para todos los gustos.</p>
    <!-- Productos -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @for(producto of allProducts; track $index){
        <div class="col">
          <div class="card h-100">
            <img src="{{producto.imagen}}" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="tituloCard"><h5 class="card-title">{{producto.nombre}}</h5></div>
                <p class="card-text">{{producto.descripcion}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span>Tiempo :</span> {{producto.tiempo}}</li>
                <li class="list-group-item"><span>Dificultad :</span> {{producto.dificultad}}</li>
                <li class="list-group-item"><span>Precio :</span> ${{producto.precio}}</li>
            </ul>
            <div class="card-body compras">
                <a routerLink="#"><button class="btn">Agregar a la bolsa</button></a>
            </div>
          </div>
        </div>}
    </div>
    <!-- Fin productos -->
</main>