<app-navegacion></app-navegacion>
<main class="pagPrincipal">
    <div *ngIf="!productoEspecifico" class="pagina">
        <h2 class="tituloProd">Postres y recetas</h2>
        <p class="tituloDesc">Conoce nuestros productos, recetas y postres para todos los gustos.</p>
        <!-- Productos -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @for(producto of allProducts; track $index){
            <div class="col">
            <div class="card h-100 productoCard">
                <div (click)="especifico(producto)">
                    <img src="{{producto.imagen}}" class="card-img-top" alt="..." style="height: 200px; object-fit: cover;">
                    <div class="card-body especifico">
                        <div class="tituloCard"><h5 class="card-title">{{producto.nombre}}</h5></div>
                        <p class="card-text">{{producto.descripcion}}</p>
                    </div>
                </div>
                <div class="card-body compras">
                    <a (click)="anadirCarrito(producto)"><button class="btn">Agregar a la bolsa</button></a>
                </div>
            </div>
            </div>}
        </div>
        <!-- Fin productos -->
    </div>
    <div class="cardEspecifico" *ngIf="productoEspecifico">
        <div style="padding: 30px;">
            <button style="position: fixed; border: none;" (click)="principal()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                </svg>
            </button>
        </div>
        <div class="card especifica" style="background-color: #fff;">
            <img src="{{producto.imagen}}" class="card-img-top" alt="..." style="height: 300px; object-fit: cover;">
            <div class="card-body">
                <div class="tituloCard"><h5 class="card-title producto">{{producto.nombre}}</h5></div>
                <div style="padding-right: 10%; padding-left: 10%;">{{producto.descripcion}}</div>
            </div>
            <div class="contenidoEspecifico">
                <div class="izq">
                <p class="card-text alergenos" style="padding-left: 20px;">
                    <span style="font-weight: bold;">Alergenos :</span>
                    {{producto.alergenos}}
                </p>
                <p class="card-text ingredientes" style="padding-left: 20px;">
                    <span style="font-weight: bold;">Ingredientes :</span>
                </p>
                <ul class="listIngredientes">
                @for(ingrediente of producto.ingredientes; track $index) {
                    <li>{{ ingrediente }}</li>
                }</ul></div>

                <ul class="list-group list-group-flush der">
                    <li class="list-group-item"><span>Tiempo :</span> {{producto.tiempo}}</li>
                    <li class="list-group-item"><span>Dificultad :</span> {{producto.dificultad}}</li>
                    <li class="list-group-item"><span>Precio :</span> ${{producto.precio}}</li>
                </ul>
            </div>
            <div class="card-body compras">
                <a (click)="anadirCarrito(producto)"><button class="btn">Agregar a la bolsa</button></a>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer> 